{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

<h1>Tasty Eatz Near Hackbright <span class="glyphicon glyphicon-cutlery"></span></h1>
<h3>(sorted by distance)</h3>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h3> Currently showing: Lunch </h3>

    </div>
</div>

<div class="row">
{% for restaurant in restaurants %}
    <div class="col-xs-6 col-xs-offset-1 col-md-4">
        <div class="container well well-lg">
            <h4 class="rest-name"> 
                <a href="{{ restaurants[restaurant]['details']['url'] }}"> 
                    {{ restaurant }} 
                </a> 
            </h4>

            <div class="category-list">
                | {% for category in restaurants[restaurant]['details']['categories'] %} 
                      {{ category['title'] }} |
                  {% endfor %} 
            </div>

            <div class="other-info">
                Price: {{ restaurants[restaurant]['details']['price'] }}<br> 
                Rating: {{ restaurants[restaurant]['details']['rating'] }}<br>
                Address: {{ restaurants[restaurant]['details']['location']['address1'] }}<br>
                Distance from Hackbright: {{ restaurants[restaurant]['distance'].units_away }} {{ restaurants[restaurant]['distance'].units }}<br>
                Time to walk from Hackbright: {{ restaurants[restaurant]['distance'].minutes }} min<br>

                <img class="img-responsive img-rounded thumbnail restaurant-img" src="{{ restaurants[restaurant]['details']['image_url'] }}">
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}