{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

<ul>
    {% for restaurant in restaurants %}
        <h3> {{ restaurant['name'] }} </h3> 
        Price: {{ restaurant['price'] }}<br>
        Categories: 
        {% for category in restaurant['categories'] %} 
            {{ category['title'] }} | 
        {% endfor %} <br>
        Rating: {{ restaurant['rating'] }}<br>
        Address: {{ restaurant['location']['address1'] }}<br>
        Distance from Hackbright: {{ restaurant_travel_details[restaurant['name']]['distance'] }} <br>
        Time to walk from Hackbright: {{ restaurant_travel_details[restaurant['name']]['duration'] }}<br>
        <img src="{{ restaurant['image_url'] }}" width="300px">

    <hr>
    <br>
    {% endfor %}
</ul>

{% endblock %}