{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}
<h2>Click restaurant titles to go to Yelp reviews.</h2>
<div class="row">
{% for distance in distances %}
    <div class="col-xs-6 col-xs-offset-1 col-md-4">
        <div class="container well well-lg">
            <h4 class="rest-name"> 
                <a href="distance.restauraunt.yelp_url"> 
                    {{ distance.restaurant.name }}
                </a> 
            </h4>
            <div class="row info">
                <div class="col-xs-12 col-md-12">
                    <div class="category-list">
                        {% if distance.restaurant.categories %}
                          {% for category in distance.restaurant.categories[:-2] %} 
                              {{ category.category }},
                          {% endfor %}
                          {{ distance.restaurant.categories[-1].category }}
                        {% else %}
                        (No categories available.)
                        {% endif %}
                    </div>


                    <div class="other-info">
                        Price: {{ "$" * distance.restaurant.dollar_signs }}<br> 
                        Address: {{ distance.restaurant.address }}<br>
                        Distance from Hackbright: {{ distance.units_away }} {{ distance.units }}<br>
                        Time to walk from Hackbright: {{ distance.minutes }} min<br>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <img class="img-responsive img-rounded thumbnail restaurant-img" 
                         src="{{ distance.restaurant.img_url }}">
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}